.parent {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
    grid-template-rows: 0.5fr 0.3fr 1fr 0.8fr 1fr;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
  }
